*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{font-family: 'Poppins', sans-serif;}
ul{
    display:flex;
    justify-content: space-around;
    font-size: 18px;
    list-style-type: none;
    width:35%;
}
a{
    text-decoration: none;
    color:rgb(253, 245, 245);
}
nav{
    display:flex;
    justify-content: space-around;
    align-items:center;
    height:80px;
    background-color:#191654;
    color:rgb(253, 245, 245);
    letter-spacing: 5px;
    font-size:25px;
    font-weight: 500;
}
#hamburger{
    display:none;
    cursor: pointer;
}
#hamburger div{
    width:20px;
    margin:3px;
    height:2px;
    background-color:rgb(253, 245, 245);
}
@media (min-width:769px) and (max-width:1100px){
    ul{
        width:58%;
        margin:10px;
    }
    nav{
        justify-content: space-between;
        padding-left: 50px;
    }
}
@media screen and (max-width:768px){
    body{overflow-x: hidden;}
    ul{
        position: absolute;
        right:0;
        height:92vh;
        top:8vh;
        background-color: #191654;
        display: flex;
        flex-direction:column;
        align-items:left;
        width:50%;
        transition: transform 0.45s ease-in;
        transform: translateX(100%);
    }
    nav{
        justify-content: space-between;
        padding: 0 20px 0 50px;
    }
    ul li{padding-left:50px;}
    #hamburger{display:block;}
}
.navActive{transform:translateX(0%);}
a:hover{
    padding: 20px 10px 20px 10px;
    background-color: white;
    opacity: 0.4;
    color: #191654;
}